<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480342118318-1b3lf9e0hpd7qvaf3lqhtqlkeet0cqfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480342118318-1b3lf9e0hpd7qvaf3lqhtqlkeet0cqfl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480342118318-emokrnh4pdeppf249m96r77n3f0t5f1f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKuU5c06ADtM2qJj2LMwF6VqrnmjZGKdc</string>
	<key>GCM_SENDER_ID</key>
	<string>480342118318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musayi.app</string>
	<key>PROJECT_ID</key>
	<string>musayi-app</string>
	<key>STORAGE_BUCKET</key>
	<string>musayi-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480342118318:ios:e880e6a8ef327d93ac823f</string>
</dict>
</plist>